
#qu{
	transition: background 2s ease-in, transform 1s ease;
}

#qu:hover{
	background:green;
	transform: scale(1.1);
}



.highlight{
	transition: background 2s ease-out, transform 1s ease;
}

.highlight:hover{
	background: skyblue;
	transform: scale(1.1);
}